﻿@{
    Layout = null;
}
<div class="modal-header">
    <h3 class="modal-title">Edycja szczegółowa dnia {{ data.Date | date:'yyyy-MM-dd'}}</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2" for="FullName">Pracownik :</label>
            <div class="col-sm-10">
                <input id="FullName" class="form-control" readonly="readonly" ng-model="data.FullName">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Start">Typ :</label>
            <div class="col-sm-10">
                <select class="form-control"
                        ng-disabled="data.IsFixed"
                        ng-model="data.DayType" ng-options="action.Id as action.Title for action in data.DayTypes"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Start">Rozpoczęcie :</label>
            <div class="col-sm-10" >
                <timepicker hour-step="hstep" minute-step="mstep" id="Start" ng-model="data.Start" show-meridian="ismeridian"></timepicker>
                <button type="button" class="btn btn-default btn-sm" ng-click="setStart(7,00)">07:00</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="setStart(14,35)">14:35</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="setStart(19,00)">19:00</button>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="End">Zakończenie :</label>
            <div class="col-sm-10">
                <timepicker hour-step="hstep" minute-step="mstep" id="End" ng-model="data.End" show-meridian="ismeridian"></timepicker>
                <button type="button" class="btn btn-default btn-sm" ng-click="setEnd(7,00)">07:00</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="setEnd(14,35)">14:35</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="setEnd(19,00)">19:00</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="data.IsFixed">Zablokowane</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="data.IsLeave">Zwolnienie</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="Description">Notatka :</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="Description" rows="3" ng-model="data.Description"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn" type="button" ng-click="cancel()">Cancel</button>
</div>