﻿@{
    Layout = null;
}
<div class="modal-header">
    <h3 class="modal-title">Podsumowanie miesiąca</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">

        <tabset>
            <tab>
                <tab-heading>
                    <i class="fa fa-calendar"></i> Miesiąc
                </tab-heading>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Informacja</th>
                        <th>Wartość</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in data.Items">
                        <td>{{ item.Title }}</td>
                        <td>{{ item.Description }}</td>
                    </tr>
                    </tbody>
                </table>
            </tab>
            <tab>
                <tab-heading>
                    <i class="fa fa-users"></i> Pracownicy
                </tab-heading>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Nazwisko</th>
                            <th>Przepracowano</th>
                            <th>Urlopy</th>
                            <th>Zwolnienia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in employees.Items">
                            <td>{{ item.FullName }}</td>
                            <td>{{ item.Work | min2h }}</td>
                            <td>{{ item.Holidays }}</td>
                            <td>{{ item.Leaves }}</td>
                        </tr>
                    </tbody>
                </table>

            </tab>
        </tabset>

    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cancel()">Zamknij</button>
</div>