﻿@{
    Layout = null;
}
<div class="modal-header">
    <h3 class="modal-title">Podsumowanie pracownika {{ data.Date | date:'yyyy-MM-dd'}}</h3>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3" for="FullName">Imię i nazwisko :</label>
            <div class="col-sm-7">
                <input id="FullName" class="form-control" readonly="readonly" ng-model="data.FullName">
            </div>
            <div class="col-sm-2">
                <input id="Initials" class="form-control" readonly="readonly" ng-model="data.Initials">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="WorkType">Współpraca :</label>
            <div class="col-sm-9">
                <input id="WorkType" class="form-control" readonly="readonly" ng-model="data.WorkType">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Podsumowanie miesiąca {{ data.MonthSummary.Date }}</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Informacja</th>
                        <th>Wartość</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data.MonthSummary.Items">
                        <td>{{ item.Title }}</td>
                        <td>{{ item.Description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cancel()">Zamknij</button>
</div>