﻿$dayShiftColor: #feca00;
$nightShiftColor: #014cb1;
$dayNightColor: darkblue;
$holidayColor: lightgray;
$leaveColor: red;
$bankHolidayColor: red;
$saturdayColor: lightblue;
$emptyDayColor: white;

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}


.scheduler {
    border: 1px solid black;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: white;

    td {
        padding: 0;
        margin: 0;
        min-height: 40px;
    }

    th {
        text-align: center;
        border: 1px solid black;
    }

    .employee-info {
        border: 1px solid black;
    }
}

/*.scheduler .employee-info {
    width: 75px;
    border-right: 1px dashed black;
}*/

.scheduler .employee-days {
    margin-left: 100px;
    background-color: yellow;
}

.saturday {
    background-color: $saturdayColor;
    border: 1px solid $saturdayColor;
}

.bankholiday {
    background-color: $bankHolidayColor;
    border: 1px solid $bankHolidayColor;
}

.busyarea {
    position: relative;

    .busylayer {
        background: rgba(0,0,0,0.5);
        height: 100%;
        top: 0;
        width: 100%;
        left: 0;
        position: absolute;

        .busycontent {
            color: white;
            padding: 20px;
            text-align: center;
            margin: 0 auto;
            font-size: 1.5em;
        }
    }
}


td.workplan {
    width: 3%;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

.workplan .day {
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: block;
    cursor: pointer;
    background: $emptyDayColor;

    .time {
        display: none;
    }
}

.saturday .day,
.bankholiday .day {
    opacity: .8;
}

.day.day-dayshift {
    background-color: $dayShiftColor;
    opacity: 1;

    .time {
        display: block;
    }
}

.day.day-nightshift {
    background-color: $nightShiftColor;
    color: $dayShiftColor;
    opacity: 1;

    .time {
        display: block;
    }
}

.day.day-daynight {
    background: $dayNightColor;
    background: $dayShiftColor; /* Old browsers */
    background: -moz-linear-gradient(left, $dayShiftColor 0%, $nightShiftColor 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$dayShiftColor), color-stop(100%,$nightShiftColor)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, $dayShiftColor 0%,$nightShiftColor 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, $dayShiftColor 0%,$nightShiftColor 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, $dayShiftColor 0%,$nightShiftColor 100%); /* IE10+ */
    background: linear-gradient(to right, $dayShiftColor 0%,$nightShiftColor 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dayShiftColor', endColorstr='$nightShiftColor',GradientType=1 ); /* IE6-9 */
    .time {
        display: block;
    }
}

.day.day-holiday {
    background-color: $holidayColor;
}

.day.day-working {
    .time {
        display: block;
    }
}

.day.day-leave {
    background: repeating-linear-gradient( 45deg, $leaveColor, $leaveColor 10px, white 10px, white 20px );
}

.day-nightshift.day-leave {
    background: repeating-linear-gradient( 45deg, $leaveColor, $leaveColor 10px, $nightShiftColor 10px, $nightShiftColor 20px );
}

.day-dayshift.day-leave {
    background: repeating-linear-gradient( 45deg, $leaveColor, $leaveColor 10px, $dayShiftColor 10px, $dayShiftColor 20px );
}

.day-daynight.day-leave {
    background: repeating-linear-gradient( 45deg, $leaveColor, $leaveColor 10px, $dayNightColor 10px, $dayNightColor 20px );
}

.icon-leave {
    display: none;
}

.day-leave .icon-leave {
    display: block;
}

.icon-fixed {
    display: none;
}

.day-leave .icon-fixed {
    display: block;
}

.day-fixed {
    background-color: yellow;
}

.day .time {
    font-size: 8px;
    float: right;
    text-align: right;
}

.day .dayicon {
    float: left;
}
