﻿body {
  padding-top: 50px;
  padding-bottom: 20px; }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer; }

.scheduler {
  border: 1px solid black;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: white; }
  .scheduler td {
    padding: 0;
    margin: 0;
    min-height: 40px; }
  .scheduler th {
    text-align: center;
    border: 1px solid black; }
  .scheduler .employee-info {
    border: 1px solid black; }

/*.scheduler .employee-info {
    width: 75px;
    border-right: 1px dashed black;
}*/
.scheduler .employee-days {
  margin-left: 100px;
  background-color: yellow; }

.saturday {
  background-color: lightblue;
  border: 1px solid lightblue; }

.bankholiday {
  background-color: red;
  border: 1px solid red; }

.busyarea {
  position: relative; }
  .busyarea .busylayer {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    position: absolute; }
    .busyarea .busylayer .busycontent {
      color: white;
      padding: 20px;
      text-align: center;
      margin: 0 auto;
      font-size: 1.5em; }

td.workplan {
  width: 3%;
  height: 50px;
  padding: 0;
  margin: 0;
  border: 1px solid black; }

.workplan .day {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  display: block;
  cursor: pointer;
  background: white; }
  .workplan .day .time {
    display: none; }

.saturday .day,
.bankholiday .day {
  opacity: .8; }

.day.day-dayshift {
  background-color: #feca00;
  opacity: 1; }
  .day.day-dayshift .time {
    display: block; }

.day.day-nightshift {
  background-color: #014cb1;
  color: #feca00;
  opacity: 1; }
  .day.day-nightshift .time {
    display: block; }

.day.day-daynight {
  background: darkblue;
  background: #feca00;
  /* Old browsers */
  background: -moz-linear-gradient(left, #feca00 0%, #014cb1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #feca00), color-stop(100%, #014cb1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #feca00 0%, #014cb1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #feca00 0%, #014cb1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #feca00 0%, #014cb1 100%);
  /* IE10+ */
  background: linear-gradient(to right, #feca00 0%, #014cb1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dayShiftColor', endColorstr='$nightShiftColor',GradientType=1 );
  /* IE6-9 */ }
  .day.day-daynight .time {
    display: block; }

.day.day-holiday {
  background-color: lightgray; }

.day.day-working .time {
  display: block; }

.day.day-leave {
  background: repeating-linear-gradient(45deg, red, red 10px, white 10px, white 20px); }

.day-nightshift.day-leave {
  background: repeating-linear-gradient(45deg, red, red 10px, #014cb1 10px, #014cb1 20px); }

.day-dayshift.day-leave {
  background: repeating-linear-gradient(45deg, red, red 10px, #feca00 10px, #feca00 20px); }

.day-daynight.day-leave {
  background: repeating-linear-gradient(45deg, red, red 10px, darkblue 10px, darkblue 20px); }

.icon-leave {
  display: none; }

.day-leave .icon-leave {
  display: block; }

.icon-fixed {
  display: none; }

.day-leave .icon-fixed {
  display: block; }

.day-fixed {
  background-color: yellow; }

.day .time {
  font-size: 8px;
  float: right;
  text-align: right; }

.day .dayicon {
  float: left; }
