﻿@{
    Layout = null;
}
<div class="container">
    <div class="page-header">
        <h1>Lista pracowników</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="FirstName">Imię :</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="data.FirstName" id="FirstName" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="LastName">Nazwisko :</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="data.LastName" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="Initials">Inicjały :</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="data.Initials" class="form-control" />
                    </div>
                </div>

            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Zatrudnienie</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Start">Rozpoczęcie :</label>
                            <div class="col-sm-10">
                                <p class="input-group">
                                    <input class="form-control" datepicker-popup
                                           ng-model="data.Start"
                                           is-open="choseStartDateOpened"
                                           close-text="Zamknij" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="choseStartDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="End">Zakończenie :</label>
                            <div class="col-sm-10">
                                <p class="input-group">
                                    <input class="form-control" datepicker-popup
                                           ng-model="data.End"
                                           is-open="choseEndDateOpened"
                                           close-text="Zamknij" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="choseEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="EmploymentType">Typ zatrudnienia :</label>
                            <div class="col-sm-10">
                                <select class="form-control"
                                        ng-model="data.EmploymentType" ng-options="action.id as action.title for action in EmploymentTypes"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2" for="MinumumWorkInMonthInMinutes">Minuty do przepr. :</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="data.MinumumWorkInMonthInMinutes" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="btn-group">
                <button type="button" class="btn btn-success" ng-click="save()">Utwórz</button>
            </div>
        </div>
    </div>
</div>