﻿@{
    Layout = null;
}

<div class="container">
    <div class="page-header">
        <h1>Lista pracowników</h1>
    </div>
    <div>
        <div class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group pull-right">
                        <a href="#/employees/add" class="btn btn-success" ng-click="save()"><i class="fa fa-plus"></i> Dodaj</a>
                    </div>
                    <h4>Lista pracowników</h4>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Imię i naziwsko</th>
                            <th>Inicjały</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in data.Items">
                            <td>{{ item.FullName }}</td>
                            <td>{{ item.Initials }}</td>
                            <td>
                                <button class="btn" ng-click="edit(item.Id)">Edytuj</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
