﻿@{
    Layout = null;
}

<div class="container">
    <div class="page-header">
        <nav>
            <div class="btn-group pull-right" dropdown>
                <button id="monthactions-button" type="button" class="btn btn-primary" dropdown-toggle>
                    Akcje <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="monthactions-button">
                    <li role="menuitem"><a href="" ng-click="prevMonth()">Poprzedni miesiąc</a></li>
                    <li role="menuitem"><a href="" ng-click="nextMonth()">Następny miesiąc</a></li>
                    <li role="menuitem"><a href="" ng-click="monthSummary()">Krótkie podsumowanie</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="" ng-click="autoPlan()"><i class="fa fa-lock" ng-show="scheduler.IsLocked"></i> Rozplanuj wstępnie {{ scheduler.Title }}</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="" ng-click="cleanMonth()"><i class="fa fa-lock" ng-show="scheduler.IsLocked"></i> Wyczyść {{ scheduler.Title }}</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#/scheduler/worksummary/{{scheduler.Year}}/{{scheduler.Month}}">Godziny pracy...</a></li>
                </ul>
            </div>
        </nav>
        <h1>
            <i class="fa fa-lock" ng-show="scheduler.IsLocked"></i> {{ scheduler.Title }} <small>{{ scheduler.Year }}</small>
        </h1>
    </div>
    <div class="btn-group btn-group-justified" dropdown>
        <label class="btn btn-success" ng-model="defaultClickAction" btn-radio="0" uncheckable>Wolne</label>
        <label class="btn btn-success" ng-model="defaultClickAction" btn-radio="1" uncheckable>Dzień <i class="fa fa-sun-o"></i></label>
        <label class="btn btn-success" ng-model="defaultClickAction" btn-radio="2" uncheckable>Noc <i class="fa fa-moon-o "></i></label>
        <label class="btn btn-success" ng-model="defaultClickAction" btn-radio="3" uncheckable>Doba <i class="fa fa-adjust"></i></label>
        <label class="btn btn-success" ng-model="defaultClickAction" btn-radio="4" uncheckable>Urlop <i class="fa fa-suitcase"></i></label>
        <label class="btn btn-success" ng-model="defaultClickAction" btn-radio="5" uncheckable>Niestandardowe <i class="fa fa-clock-o"></i></label>
        <label class="btn btn-success" ng-model="defaultClickAction" btn-radio="'LEAVE'" uncheckable>Zwolnienie</label>
        <label class="btn btn-success" ng-model="defaultClickAction" btn-radio="'LOCK'" uncheckable>Zablokuj <i class="fa fa-lock"></i></label>
    </div>
</div>

<div class="jumbotron">
    <div class="busyarea">
        
        <table class="scheduler">
            <thead>
            <tr>
                <th class="employee-info">Empl.</th>
                <th ng-repeat="day in scheduler.Days" ng-class="{'saturday':day.DayOfWeek==6,'bankholiday':day.IsHoliday}">{{ day.Day }}</th>
            </tr>
            </thead>
            <tr ng-repeat="employeeMonthInfo in scheduler.Employees">
                <td class="employee-info" ng-click="showEmployee(employeeMonthInfo)">
                    <span>{{ employeeMonthInfo.Initials }}</span>
                    <span class="pull-right">{{ employeeMonthInfo.MinutesToWork | min2h }}</span>
                </td>
                <td class="workplan"
                    ng-repeat="employeeDay in employeeMonthInfo.Days"
                    ng-class="{'bankholiday': isBankHoliday(employeeDay),'saturday':isSaturday(employeeDay)}">
                    <div class="day"
                         ng-class="{'day-leave': employeeDay.HasLeave, 'day-fixed':employeeDay.IsFixed,'day-dayshift':employeeDay.DayType===1,'day-nightshift':employeeDay.DayType===2,'day-daynight':employeeDay.DayType===3,'day-holiday':employeeDay.DayType===4,'day-working':employeeDay.DayType===5}"
                         ng-click="dayClick(employeeDay,employeeMonthInfo)">

                        <span class="pull-left">
                            <i ng-show="employeeDay.DayType===3" class="fa fa-adjust"></i>
                            <i ng-show="employeeDay.DayType===1" class="fa fa-sun-o"></i>
                            <i ng-show="employeeDay.DayType===2" class="fa fa-moon-o "></i>
                            <i ng-show="employeeDay.DayType===4" class="fa fa-suitcase"></i>
                            <i ng-show="employeeDay.DayType===5" class="fa fa-clock-o"></i>
                        </span>

                        <div class="time pull-right">
                            <span>{{ employeeDay.Start | time }}</span>
                            <span>{{ employeeDay.End | time }}</span>
                        </div>

                        <i ng-show="employeeDay.HasNote" class="fa fa-info-circle"></i>
                        <i ng-show="employeeDay.IsFixed" class="fa fa-lock"></i>
                    </div>
                </td>
            </tr>
        </table>

        <div class="busylayer clearfix" ng-show="isBusy">
            <div class="busycontent">
                <div class="busyinfo">
                    <i class="fa fa-hourglass-half"></i> Proszę czekać
                </div>
            </div>
        </div>
    </div>
</div>

