﻿@{
    ViewBag.Title = "title";
    Layout = null;
}

<div class="container">
    <div class="page-header">
        <h1><i class="fa fa-lock" ng-show="data.IsLocked"></i> Podsumowanie godzin pracy w miesiącu <strong>{{ data.Date | date : 'yyyy-MM' }}</strong></h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-2">Nazwisko</th>
                        <th>Z poprzedniego miesiąca</th>
                        <th>Na ten miesiąc</th>
                        <th>Wypracowano</th>
                        <th>Urlopy</th>
                        <th>Zwolnienia</th>
                        <th>Na następny miesiąc</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in data.Items">
                        <td>{{ item.FullName }}</td>
                        <td>
                            <div class="input-group">
                                <input type="number" class="form-control"
                                       placeholder="Minuty"
                                       ng-disabled="data.IsLocked"
                                       ng-model="item.WorkFromPreviousMonth"
                                       aria-describedby="WorkFromPreviousMonth">
                                <span class="input-group-addon" id="WorkFromPreviousMonth">{{ item.WorkFromPreviousMonth | min2h }}</span>
                            </div>
                        </td>
                        <td>{{ item.MinutesToWork | min2h }}</td>
                        <td>{{ item.WorkPlanned | min2h }}</td>
                        <td>{{ item.HolidaysTaken }}</td>
                        <td>{{ item.LeavesTaken }}({{ item.LeavesLenght | min2h }})</td>
                        <td>{{ item.WorkForNextMonth | min2h }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-footer clearfix">
            <div class="btn-group col-lg-8">
                <button class="btn btn-warning" ng-click="lock()" ng-disabled="data.IsLocked"><i class="fa fa-lock"></i> Zablokuj miesiąc</button>
            </div>

            <div class="btn-group col-lg-4 pull-right">
                <button class="btn btn-success" ng-click="save()" ng-disabled="data.IsLocked"><i class="fa fa-floppy-o"></i> Zapisz zmiany</button>
                <button class="btn btn-info" ng-click="cancel()">Przejdź do grafiku</button>
            </div>
        </div>
    </div>
</div>



